.body-container {
  display: flex;
  margin-top: 0px;
  background: linear-gradient(to right, #050607, #002541);
}

.left-column {
  width: 35%;
  margin-left: 130px;
}

.left-column h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #c2cad3;
}

.left-column p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #c2cad3;
}

.live-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #c2cad3;
}

.disney_hotstar {
  width: 40px;
  height: 40px;
}

.live-section span {
  font-weight: bold;
  margin-right: 10px;
}

.buttons {
  margin-bottom: 20px;
}

.primary-button {
  background: linear-gradient(to left, #00aaff, #0077ff);
  color: white;
  padding: 10px 72px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.secondary-button {
  background-color: white;
  color: black;
  padding: 10px 110px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.description p {
  font-size: 15px;
}

.right-column {
  width: 65%;
}
